# URL assincrona para asyncpg (TimescaleDB usa o mesmo formato que PostgreSQL)
# Se usar o docker-compose deste projeto, a porta local sera 5433.
# postgresql+asyncpg://USUARIO:SENHA@HOST:PORTA/NOME_DO_BANCO
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5433/postgres
